In [1]:
%matplotlib inline

In [2]:
import json
import matplotlib as mpl
import matplotlib.pyplot as plt
from pandas import DataFrame, Series
import pandas as pd

In [3]:
path='usagov_bitly_data2012-03-16-1331923249.txt'
records = [json.loads(line) for line in open(path)]

In [4]:
records[0]['a']

'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11'

In [8]:
frame = DataFrame(records)
results = Series([x.split()[0] for x in frame.a.dropna()])
results[:5]

0               Mozilla/5.0
1    GoogleMaps/RochesterNY
2               Mozilla/4.0
3               Mozilla/5.0
4               Mozilla/5.0
dtype: object

In [9]:
results = results.value_counts()
results[:8]

Mozilla/5.0                 2594
Mozilla/4.0                  601
GoogleMaps/RochesterNY       121
Opera/9.80                    34
TEST_INTERNET_AGENT           24
GoogleProducer                21
Mozilla/6.0                    5
BlackBerry8520/5.0.0.681       4
dtype: int64

In [19]:
cframe = frame[frame.a.notnull()]
frame.shape

(3560, 18)

In [16]:
cframe
cframe.shape

(3440, 18)

In [20]:
import numpy as np

In [21]:
operating_system = np.where(cframe.a.str.contains('Windows'), 'Windows', 'Non-Windows')
operating_system[:10]

array(['Windows', 'Non-Windows', 'Windows', 'Non-Windows', 'Windows',
       'Windows', 'Windows', 'Windows', 'Non-Windows', 'Windows'],
      dtype='<U11')

In [22]:
by_tz_os = cframe.groupby(['tz', operating_system])

In [23]:
by_tz_os

In [24]:
agg_counts = by_tz_os.size().unstack().fillna(0)
agg_counts[:10]

                                Non-Windows  Windows
tz
                                        245      276
Africa/Cairo                              0        3
Africa/Casablanca                         0        1
Africa/Ceuta                              0        2
Africa/Johannesburg                       0        1
Africa/Lusaka                             0        1
America/Anchorage                         4        1
America/Argentina/Buenos_Aires            1        0
America/Argentina/Cordoba                 0        1
America/Argentina/Mendoza                 0        1